@font-face {
    font-family: 'NanumBarunGothic';
    src: url('../fonts/NanumBarunGothicLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF_HambakSnow';
    src: url('../fonts/SF함박눈TTF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* General Styles */
body {
    font-family: 'NanumBarunGothic', sans-serif; /* NanumBarunGothic 폰트 기본 적용 */
    background-color: #FEF9EB;
    color: #4a4a4a;
    display: flex;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}
/* Sidebar */
.sidebar {
    width: 100px;
    background-color: #FEF9EB;
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.sidebar a {
    text-decoration: none; /* 밑줄 제거 */
    color: #4a4a4a; /* 기본 텍스트 색상 */
    display: flex;
    flex-direction: column; /* 아이콘과 텍스트를 세로로 배치 */
    align-items: center;

    transition: color 0.3s ease, background-color 0.3s ease;
}



.sidebar a img {
    width: 35px; /* 아이콘 크기 */
    height: 35px;
    margin-bottom: 5px; /* 아이콘과 텍스트 간격 */
}

.sidebar a span {
    font-size: 14px;
    text-align: center;
}


.sidebar::after {
    content: "";
    position: absolute;
    right: 0;
    top: 10%;
    height: 70%;
    width: 2px;
    background-color: #a4a4a4;
}

.logo {
    width: 35px;
    height: 40px;
    margin-bottom: 10px;
    margin-top: 20px;
}


.sidebar ul {
    list-style: none;
    padding: 0;
    width: 100%; /* 전체 너비 사용 */
}

.sidebar ul li {
    display: flex;
    flex-direction: column; /* 아이콘과 텍스트를 세로로 배치 */
    align-items: center;
    justify-content: center;
    margin-top: 10px; /* 항목 간 간격 */
    margin-bottom: 10px; /* 항목 간 간격 */
    color: #4a4a4a;
    cursor: pointer;
    font-size: 14px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.sidebar ul li:hover {
    background-color: #e8e4d8; /* 호버 시 배경색 변경 */
    color: #645A5A; /* 텍스트 색 변경 */
    border-radius: 10px; /* 호버 시 모서리 둥글게 */
}

/* 링크 기본 스타일 제거 */
.sidebar ul li a {
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 부모의 텍스트 색상 상속 */
    display: flex;
    flex-direction: column; /* 아이콘과 텍스트를 세로 배치 */
    align-items: center;
}

.sidebar ul li a:hover {
    color: #645A5A; /* 호버 시 텍스트 색 변경 */
}

.sidebar ul li img {
	 margin-top: 10px; /* 아이콘과 텍스트 간격 */
    width: 30px; /* 아이콘 크기 */
    height: 30px;
    margin-bottom: 5px; /* 아이콘과 텍스트 간격 */
}

.sidebar ul li span {
    font-size: 14px;
    text-align: center;
     margin-bottom: 10px;
    
}

/* Wrapper to hold main content and right sidebar side by side */
.main-wrapper {
    display: flex;
    margin-left: 100px;
    padding-left: 50px;
    padding-bottom: 40px;
    width: calc(100% - 170px);
    box-sizing: border-box;
    background-color: #FEF9EB;
}

.main-content {
    flex: 1;
    padding-right: 20px;
    overflow-y: auto; /* 세로 스크롤 활성화 */
    max-height: calc(100vh - 60px);
}
.main-content::-webkit-scrollbar{
	width: 8px;
}
.main-content::-webkit-scrollbar-thumb{
	border-radius: 4px;
	background: #645A5A;
}
.main-content::-webkit-scrollbar-track{
	background: transparent;
}

/* Chat Header */
.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #645A5A;
    position: absolute;
    width: calc(100vw - 670px);
    background-color: #FEF9EB;
    z-index: 3;
}

.chat-title {
    font-size: 16px;
    font-weight: bold;
}

.chat-buttons {
    display: flex;
    gap: 10px;
}

.chat-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 15px;
    background-color: #645A5A;
    color: #ffffff;
    cursor: pointer;
}
.chat-btn:active{
	transform: scale(0.96);
    transition: transform 0.1s ease;
}
.open-sidebar {
    display: none;
}

/* Chat Messages */
.chat-messages {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 40px;
}

.message-left {
	display:flex;
    justify-content: flex-start;
}

.message-right {
    display:flex;
    justify-content: flex-end;
}

.bubble {
	display:flex;
	max-width: 70%;
    padding: 10px 15px;
    background-color: #645A5A;
    color: #E3DBC4;
    border-radius: 15px;
    position: relative;
    flex-direction: column;
}

/* Different styles for message alignment */
.message-left .bubble {
    justify-content: flex-start;
    background-color: #E3DBC4;
    color: #645A5A;
}

.message-right .bubble {
    justify-content: flex-end;
    background-color: #645A5A;
    color: #E3DBC4;
}
.message-text {
	display:flex;
}

.message-time {
    font-size: 12px;
    color: black;
    margin-top: 5px;
}


/* Chat Input */
.chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #645A5A;
    position: absolute;
    bottom:0px;
    width: calc(100% - 670px);
}
.form-input{
	display: flex;
	width: calc(100%);
	gap: 20px;
}
.input-box {
    flex: 1;
    padding: 10px;
    border: 1px solid #645A5A;
    border-radius: 20px;
    outline: none;
}

.send-btn {
    background: #645A5A;
    color: #ffffff;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 12px;
}
.send-btn:active{
	transform: scale(0.96);
	transition: transform 0.1s ease;
}
.send-btn img{
	width: 24px;
	height: 24px;
}

/* Right Sidebar */
.sidebar-right {
    width: 600px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    height: 100vh;
    overflow-y: auto;
    transition: width 0.5s ease, opacity 0.5s ease;
    opacity: 1;
    margin-bottom:20px;
}
.sidebar-right::-webkit-scrollbar{
	width: 8px;
}
.sidebar-right::-webkit-scrollbar-thumb{
	border-radius: 4px;
	background: #645A5A;
}
.sidebar-right::-webkit-scrollbar-track{
	background: transparent;
}

.sidebar-right-header {
	display: flex;
	width: 100%;
	align-items: center;
	height: 40px;
	z-index: 10;
}
.header-logo {
	display: flex;
	align-items: center;
	position: absolute;
}
	
.header-logo img{
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.account {
    display: flex;
    align-items: center;
    position : absolute;
    right: 28px;
}

.account img {
	cursor: pointer;
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

/* 채팅방 목록 */
.chat-list {
	display: flex;
	flex-direction: column;
    background-color:white;
    height: calc(100vh - 64px);
}

.chat-message {
	cursor: pointer;
    display: flex;
    padding: 12px;
    background-color: #FEF9EB80;
    margin-top: 8px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px #00000020;
    position: relative;
    width : 96%;
    border: none;
    align-items: center;
}
.chat-message:active,
.chat-message:hover{
	transform: scale(0.98);
	transition: transform 0.1s ease;
}
.chat-inner{
	display: flex;
	background-color: transparent;
	border: none;
	align-items: center;
	gap : 20px;
	font-family: 'NanumBarunGothic';
	width : 100%;
}
.profile-image-container {
    position: relative;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9d9d9;
    font-size: 10px;
}

.message-details {
    display: flex;
    flex-direction: column;
    color: black;
    justify-content: center;
}

.message-time {
    font-size: 12px;
    display:flex;
    left: 0;
}

.message-text {
    font-size: 16px;
    display:flex;
}

/* 작은 화면에서 right-sidebar 숨기기 */
@media (max-width: 1080px) {
	.open-sidebar {
		display: inline-block;
	}
    .sidebar-right {
        width: 0;
        opacity: 0;
        overflow: hidden;
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        z-index: 10; /* 화면 위로 나오게 설정 */
        overflow-y: auto;
    }
    
    /* main-wrapper가 전체 너비를 차지하도록 조정 */
    .main-wrapper {
        width: calc(100% - 100px);
        padding-left: 20px;
    }

    /* sidebar-right가 열릴 때의 스타일 */
    .sidebar-right.show {
        width: 300px; /* 원하는 너비 설정 */
        opacity: 1;
        z-index: 120;
    }
    
    .chat-header{
    width : calc(100vw - 150px);
    }
    .chat-input {
    width : calc(100vw - 170px);
    }
}


/* Modal Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none; /* 기본적으로 숨김 */
    justify-content: center;
    align-items: center;
    z-index: 20;
}

/* Reservation Modal */
.reservation-modal {
    background-color: #FEF9EB;
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 200;
}

.reservation-modal h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

.modal-content .modal-row {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.dropdown {
    font-size: 16px;
    color: #645A5A;
}

.complete-btn {
    background-color: #645A5A;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    padding: 4px 12px;
    margin-top: 10px;
    cursor: pointer;
}

.complete-btn:active{
	transform: scale(0.92);
	transition: transform 0.1s ease;
}
/* Review Modal Overlay */
.review-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none; /* 기본적으로 숨김 */
    justify-content: center;
    align-items: center;
    z-index: 20;
}

/* Review Modal */
.review-modal {
    background-color: #FEF9EB;
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.review-modal h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

.star-rating {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 20px 0;
}

.star {
    font-size: 24px;
    cursor: pointer;
    color: #bbb;
    transition: color 0.1s;
}

.star.selected {
    color: #FFD700; /* 노란색 */
}


/* Fade-in Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px); /* 살짝 아래에서 올라오는 효과 */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* main-content의 애니메이션 클래스 */
.main-content.fade-in {
    animation: fadeIn 0.5s ease-in;
}
.chat-messages.fade-in {
	animation: fadeIn 0.5s ease-in;
}